#Ignore node-nodules folder
node_modules/

#Ignore vendor folder
vendor

#Ignore all json files
*.json

#Ignore all lock files
*.lock

#Ignore all webp files
*.webp

#Ignore all image files
*.jpg
*jpeg
*.png