* {
  font-family: 'Wix Madefor Text', sans-serif;
  font-family: 'Wix Madefor Display', sans-serif; 
}

/* query for different screen size + width */
/* nav divider left + right properties */
@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: -500px 20px;
    line-height: 24px;
    width: auto;
    font-size: 14px;
  }

  .divider-nav-left {
    border-left: 1px solid hsl(0, 7%, 73%);
    margin: 0 20px 0 20px;
    padding: 0 20px;
    height: 30px;
  }

  .divider-nav-right {
    border-left: 1px solid hsl(0, 7%, 73%);
    margin: 5px 30px 0 30px;
    height: 30px;
  }
}

/* changes to 'Log In' link in Nav  */
.pos-new-log-in-nav-right {
  margin: 0 0 10px 3px;
  }

  /* changes to button in second nav */
.pos-new-btn-nav-right {
  background-color: #166aea;
}

  /* changes to globe position in nav*/
.pos-globe-nav {
  padding: 20px 10px 0 1px;
}

/* remove toggle */
.dropdown-toggle::after {
  display: none;
}

/* changes to second nav */
.nav2 {
  font-size: 20px;
  background-color: hsl(230, 54%, 35%);
}

/* changes to link in second nav */
.link-nav2 {
border-bottom: 2px solid white;
}

/* changes to link in hover state in second nav */
.link-nav2:hover {
  text-decoration: none;
}

/* changes to arrow in second nav */
.arrow-nav2 {
color: hsl(0, 0%, 100%);
}