* {
  font-family: 'Wix Madefor Text', sans-serif;
  font-family: 'Wix Madefor Display', sans-serif;
  
}

/* font size */
html {
  font-size: 16px;
}

/* navbar */
.navbar-custom {
  height: 50px;
}

/* small font */
.sm-font-size {
  font-size: 11px !important;
}

/* medium font */
.md-font-size {
  font-size: 20px !important;
}

/* large font */
/* .lg-font-size */

/* divider */
.divider {
  align-self: center;
  border-right: 1px solid hsl(240, 3%, 73%);
  display: inline-flex;
  height: 15px;
}

/* colors */
.btn:first-of-type {
  background-color: hsl(216, 83%, 50%) !important;
}

/* hover effects */
.hover-link:hover {
color:  	hsl(225, 73%, 57%) !important;
}

.btn:first-of-type:hover {
  background-color:hsl(216, 89%, 57%) !important;
}